@model IEnumerable<RecommenderSystem.Models.ViewModel.RecipeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach(var recipe in Model)
{
    <h1>@recipe.name</h1>
    <h1>@recipe.minutes</h1>
    <h1>@recipe.contributor_id</h1>
    <h1>@recipe.submitted</h1>
    <h1>@recipe.n_steps</h1>
    <h1>@recipe.description</h1>
    <h1>@recipe.ingredient</h1>
}
